/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

/* Estilos para las tarjetas */
.card {
    background-color: #007bff;
    color: white;
    padding: 2rem;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 250px;
    text-decoration: none;
    display: block;
}

    .card:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        background-color: #0056b3;
    }

/* Estilos para los enlaces */
a {
    text-decoration: none;
    color: inherit;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
        margin-bottom: 20px;
    }
}
